
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: silver
}

.search-header {
    height: 30%;
    width: 70%;
    background-color: hsla(337, 90%, 43%, 0.623);  
    margin: auto;
    box-shadow: 3px 4px 17px 6px rgba(106,106,106,0.7);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    
    
    
    
}
input{
      width: 90%;
      height: 30%;
      
      
}
.search-header-button{
    height: 0%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;


}
button{
    height: 40px;
    width: 90px;
    box-shadow: 3px 4px 17px 6px rgba(106,106,106,0.7);
  
}
#list-items-container {
    height: 15%;
    width: 70%;
    margin: auto;
  
}

ul {
  
    margin-top: 1rem;
    padding: 0;
    box-shadow: 3px 4px 17px 6px rgba(106,106,106,0.7);
}
ul li {
    padding: 0.7rem;
    list-style-type: none;
}

ul li:nth-of-type(2n) {
    background-color: hsla(337, 90%, 43%, 0.623);   
}

ul li:nth-of-type(2n+1) {
    background-color:hsla(175, 52%, 39%, 0.603);  
}

ul li:hover {
    background-color:  hsla(337, 51%, 62%, 0.623);;
}